*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

ul li{
    list-style: none;
}

#container{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-y:scroll ;
}

#head{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg ,red,blue,green,yellow);
    color: goldenrod;
}

#container div{
    position: relative;
    height: 100%;
    width: 100%;
}

#container div#RED{
    color:white;
    background-color: red;
}

#container div#BLUE{
    color:white;
    background-color: blue;
}

#container div#GREEN{
    color:white;
  background-color: green;
}

#container div#YELLOW{
    color:white;
    background-color: yellow;
}

.pages h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 10em;
}

/* In case if you want to use ID selector section for any modification you can enable this section of the CSS */

/* #container h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 10em;
} */

ul li a{
    display: block;
    text-decoration: none;
    line-height: 35px;
    background-color: white;
    margin-bottom: 5px;
    height: 30px;
    width: 135px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

ul li a:hover{
    color: white;
    background-color: black;
}
